- @divisions.each do |division, teams|
  %h1= division.name
  %table.table
    %th Team
    %th Total Spirit Score
    %th Average Spirit Score
    - teams.each do |team|
      %tr
        %td= link_to team.name, team
        %td= team.total_spirit_score
        %td= team.average_spirit_score
