%nav.navbar.navbar-expand-md.navbar-light.bg-light
  = link_to 'PVI Score Tracking', root_path, class: 'navbar-brand'
  %ul.navbar-nav.mr-auto
    %li.nav-item
      = link_to 'Spirit Scores', spirit_score_sheets_path, class: 'nav-link'
    %li.nav-item
      = link_to 'Teams', teams_path, class: 'nav-link'
